@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}

.container{
    max-width: 384px;
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid black;
    border-right: 15px solid black;
    border-bottom: 15px solid black;
}

.illustration{
    width: 100%;
    border-radius: 10px;

}

.btn{
    background-color: hsl(47, 88%, 63%);
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    margin-top: 24px;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(47, 88%, 63%);
    border-color: hsl(47, 88%, 63%); 
}

.data{
    color: hsl(0, 0%, 7%);
     margin-top: 12px;
     font-size: 14px;
}

.titulo{
    color: hsl(0, 0%, 7%);
    margin-top: 12px;
    font-size: 24px;
}
.text{
    margin-top: 12px;
    font-size: 16px;
}

.card-autor{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.foto-autor{
    width: 32px;
    height: 32px;
}
.nome{
    color: hsl(0, 0%, 7%);
    font-size: 14px;
}